/*BEGIN STYLE PADRÃO*/

:root{
	--black-basic: #293950;
};
html, body{
	color: #fff !important;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100%;
	box-sizing: border-box;
}
#container-panel{
	background: #2a3950 !important;
}
button{
	cursor: pointer !important;
}
i{
	font-size: 1em;
}
ul, li{
	list-style: none;
	padding: 0 !important;
}
hr{
	margin: 10px 0px;
    border-top: 1px solid rgba(255,255,255,.5);
}
p{
	margin: 0;
}
a{
	color: #fff;
	padding: 0;
	text-decoration: none !important;
}
a:hover{
	color: #ff7582;
}
a.btn:hover{
	color: #fff !important;
}
h1,h2,h3,h4,h5,h6{
	margin: 0 !important;
	padding: 0 !important;
}
tr td, tr th{
	vertical-align: middle !important;
}
sup{
	padding: 5px;
}
.table{
	color: #fff;
	margin: 0 !important;	
}
.table-data{
	width: 100%;
}
textarea{	
	border: 1px solid #ddd;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: transparent;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    min-height: 180px;
}
/*END STYLE PADRÃO*/

/*BEGIN TOPO*/
.top{
	height: 60px;
	width: 100%;
	z-index: 9999;
	background: linear-gradient(90deg, #2a3950 0%, #ff7582 35%, #ff7582 70%, #2a3950 100%);
	background-position: 10%;
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 2px 3px 2px rgba(0,0,0,0.2);
}
.container-top{
	width: 100%;
	height: 100%;
	margin: 0 !important;
	display: flex;
	align-items: center;
	background: rgba(0,0,0,.1);
}
.logo-text{
	text-transform: uppercase;
	color:  #fff;
	font-size: 25px;
	font-weight: 700;
}
.data-list-student{	
	font-size: 14px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	color: #fff;
	list-style: none;
}
.msg-welcome{
	margin-right: 30px;
}
.img-profile{
	 background-size: contain; 
	 width: 40px; 
	 height: 40px;
	 border-radius: 50%;
}
.img-logo{
	max-height: 90px;
	width: 250px;
}
/*END TOPO*/


/*BEGIN MENU*/
.div-img-school{
	padding: 10px;
}
.img-school{
	width: 200px;
	height: 200px;
	max-width: 200px;
	max-height: 200px;
	border-radius: 50%;
	border: 3px solid #fff;
}
#menu{
	min-height: 100vh !important;
    background: url('../img/padrao/nature.jpg');
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 !important;
}
#opacity-menu{
	height: 100%;
    background-color: #293950df;
}
.menu-ul{
	padding: 0px;
	margin: 0;
	list-style: none;
	width: 100%;
}
.menu-ul .menu-item, .menu-ul .menu-item a{
	position: relative;
	width: 100%;
	color: #ddd;
	cursor: pointer;
}
.menu-ul .menu-item i{
	padding: 0 10px;	
}
.menu-ul .menu-item .name-item-menu{
	width: 90%;
	position: relative;
	padding: 10px 0;
	margin-left: 15px;
}
.icon-menu-item-right{
	width: 100%;
}
.menu-ul .menu-item:hover{
	color: #ff7582;
	transition: all .4s cubic-bezier(0.42, 0.9, 0.75, 0.4);
	background: rgb(25, 30, 35, .5);
	cursor: pointer;
}
.sub-menu{
	display: none;
	background-color: rgb(36, 47, 60);
	border-left: 3px solid #0090c3;
}
.sub-menu .menu-item:hover a{
	color: #ff7582;

}
.menu-item-exit{
	background-color: rgb(35, 40, 45);
	padding: 10px 15px !important;
	width: 100%;
	cursor: pointer;
	color: #ddd;
}
.more-menu{
	position: absolute;
	right: 5px;
	top: calc(50% - 5px);
	font-size: .5em;
}

/*END MENU*/

/*BEGIN CONTENT*/
.container-main{
    min-height: 100vh;
}
.box{
	color: #fff;
	border-radius: 3px;	
	width: 100%;
	margin: 10px 0px;
	background: transparent;
	box-sizing: border-box;
	box-shadow: 0px 1px 4px rgba(0,0,0,.4);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.div-title-box{
	text-align: center;
	width: 100%;
}
.div-content-box{
	width: 100%;
    padding: 0 15px;
}
.title-box-main{
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	background: linear-gradient(90deg, #3b4a62cc 0%, #ee6571bb 35%, #ee6571bb 70%, #3b4a62cc 100%);
  	padding: 10px !important;
	font-size: 22px !important;
	color: #fff;
	font-weight: 300;
}
.div-title-box .title-box-main{
	color: #fff;
}
/*END CONTENT*/

/*BEGIN ATIVIDADE*/
.container-activity-md{
	margin: 5px 5px;
    flex: calc(50% - 10px);
    max-width: calc(50% - 10px);
    width: calc(50% - 10px);
}
#container-activity-md-2{
	margin: 5px 5px;
    flex: calc(100% - 10px);
    max-width: calc(100% - 10px);
    width: calc(100% - 10px);
}	
.box-activity-md{
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #bbb;
	width: 100%;
}
.container-activity-md:hover .box-activity-md{
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,.3);
	transition: .4s;
}
.t_atv{
	border-radius: 3px;
	color: #fff;
	font-size: .85em;
	padding: 5px; 
 	text-align: center;
}
.name_teacher_subject{
	margin: 5px 0px;
	text-align: center;
	font-size: .75em;
}
.d_atv{
	text-align: justify;
	padding: 4px 0px;
	font-size: .8em;
}
.footer-box-activity{
	padding: 5px;
	text-align: center;
}
.read-more{
	font-size: .75em;
	font-weight: 600;
}
.time-activity{
	font-size: .6em;
}
/*END ATIVIDADE*/

/*BEGIN CARD*/
.card{
	border-radius: 0px;
	background: rgba(1,1,1,.3);
	border: none;
	width: calc(25% - 10px);
	box-sizing: border-box;
	overflow: hidden;
	margin: 5px;
}
.card .box-img{
	overflow: hidden;
}
.card .card-img-top{
	height: 200px;
	max-height: 200px !important;	
}
.card-body{
	height: 200px;
	padding: 15px !important;
}
.card-body .card-title{
	font-size: 1em;
}
.card-body .card-text{
	text-align: justify;
	font-size: .75em;
	color: #dfdfdf;
}
.coluna-img{
	padding-bottom: 0px;
	max-height: 200px;
}
.details-atividade{
	color: #ccc;
	display: flex;
	justify-content: space-around;
	margin: 0px;
	width: 100%;
	height: auto;
	font-style: italic;
	padding: 7px 10px;
}
.card .details-atividade{
	font-size: 11px;
	padding: 7px 10px;
}
.coluna-texto{
	padding-bottom: 0px;
}
.btn-news{
	background-color: #355c7d;
}
/*END CARD*/

#tabela-scroll thead th:nth-child(1){
	min-width: 120px !important;
}

/*BEGIN FORM*/
#msg-cad-auth{
	font-size: 11px; 
	margin: 10px 0px;
}
.form-cad{
	display: flex;
	flex-direction: column;
}
.list-data-form{
	list-style: none;
	padding: 0;
}
.list-data-form li{
	text-align: center;
}
.list-data-form .txt-area{
    display: flex;
	justify-content: center;
}
input::placeholder {
	color: #ddd;
}
input[type="text"],
.form-control[readonly] ,
input[type="time"],
input[type="password"],
.field_email,
select,
input[type="date"],
input[type="number"],
input:read-only,
.form-control{
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input[type='text']:focus,input[type='password']:focus, textarea:focus, select:focus{
	outline-width: 0;
	color: #fff;
	outline:none;
}
input[type='file']{
	display: none;
}
label{
	font-size: 14px;
	margin: 3px 0;
}
/*END FORM*/

.box-tabela #tabela-scroll::scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.box-tabela #tabela-scroll::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
.box-tabela #tabela-scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* ESTILOS ESPECIFICOS */
.view-disc{
	background:  linear-gradient(135deg, rgba(66, 230, 151, 1) 0%, rgba(0, 144, 195, 1) 100%);
	font-size: 1.2em;
	cursor: pointer;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.graph{
	position: relative;
	flex-basis: calc(50% - 10px);
	width: calc(50% - 10px);
	height: auto;
}
.img-profile-aluno{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.img-agenda{
	max-height: 300px;
}
.getDados{
	cursor: pointer;
}
.custom-file-upload {
  border-radius: 4px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer; 
}
.ger-btn{
	font-size: 16px !important;
	letter-spacing: 0px;
}
input[type=checkbox]#check-bootstrap{
	width: 25px;
	height: 25px;	
}
input[type=checkbox]#check-bootstrap:checked{
	background-color: rgba(233,0,0,.9);
}
select{
	background: #000 !important;
	width: auto; 
	height:auto;
	padding: 5px;
	/*border-radius: 5px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
	border: 2px solid #ccc;
}
.select-box{
	display: flex;
	flex-direction: column;
}

/*NOTICIA BEGIN*/
.notice{
	align-items: center;
	background-color: rgb(35, 40, 45);
	display: flex;
	flex-direction: column;
}
.title-box-notice{
	color: #fff;
	text-align: center;
	font-weight: 700;
	text-align: center;
}
.box-msg-notice{
	width: 100%;
}
.box-msg-notice .card .card-text{
	font-size: 12px !important;
}
.box-msg-notice .card .card-title{
	font-size: 14px !important;
}
.box-msg-notice .card .card-body{
	padding: 5px;
}
.box-msg-notice .card{
	box-sizing: border-box;
	box-shadow: none;
	overflow: hidden;
	margin: 10px 0;
}
.title-sidebar{
	display: flex;
	align-items: center;
	font-size: 14px;
	margin: 10px 0px;
	border-radius: 4px;
	padding: 7px 0px 7px 5px;
	box-sizing: border-box;
	box-shadow: 0px 1px 4px #222;
}
.ntc-sidebar{
	width: 100%;
	margin: 5px 0px;
	padding: 5px 0px;
	border-bottom: 1px solid #bbb;
}
.titulo-ntc-sidebar{
	font-weight: 600;
}
.desc-ntc-sidebar{
	text-align: center;
	font-size: 14px;
}
#date-news-sidebar{
	font-size: 0.5em;
}
/*NOTICIA END*/

.box-dica{
	padding: 15px;
}
.divisao-cad{
	margin: 5px 0;
	padding: 0 10px;
}
.divisao-cad article{
    display: flex;
    flex-direction: column;
    justify-content: center;
	border: 1px solid #c2bec0;
	padding: 15px;
}

/*DASHBOARD BEGIN*/
#box-dash-prof{
	background-color:#355c7d;
}
#box-dash-aluno{
	background-color:#725a7a;
}
#box-dash-adm{
	background-color:#c56d86;
}
#box-dash-noticia{
	background-color:#ff7582;
}

.box-dash{
	width: 100%;
}
.box-count{
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	overflow: hidden;
}
.title-box-dash{
	padding: 3px 0;
	background: rgba(0,0,0, .2); 
}
.title-box-dash h1{
	font-size: .9em;
	color: #fff;
	font-weight: bold;
	text-align: center;
}
.count-dash{
	font-weight: bold;
	font-size: 2em;	
	text-align: center;
	color: #fff;
}
.icon-dash i{
	font-size: 1.5em; 
	opacity: 0.3;
	overflow: hidden;
}
.box-count:hover .icon-dash i{
	opacity: 0.7;
	transition: .4s;
}
/*DASHBOARD END*/

/*INICIO SLIDE*/
.slide-section{
    padding: 0 !important;
}
.mySlides { 
    width: 100%;
    padding: 0;
}
.mySlides img{ 
    height: 380px; 
    width: 100%;
}
img {
    vertical-align: middle;
}
.slideshow-container {
    max-height: 380px;
    margin: 0;
    padding: 0 !important;
    position: relative;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
    background-color: rgba(0,0,0,0.2)
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  background: linear-gradient(90deg, #ff758288 0%, #2a3950 15%, #2a3950 85%, #ff758288 100%);
  color: #fff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 3px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*FIM SLIDE*/
.msg{
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	margin: 10px 0px;
	padding: 7px 6px;
	background-color: rgba(0,0,0,.3);
	box-sizing: border-box;
	box-shadow: 0px 1px 4px rgb(0,0,0, .5);
}
.msg-error{
	border-left: 6px solid rgb(220, 53, 69);
}
.msg-success{
	border-left: 6px solid rgb(40, 167, 69);
}
.msg-warn{
	border-left: 6px solid rgb(255, 193, 7);
}
.box-result{
	display: none;
}
.scrolled_menu {
    /*Regras fixas*/
    width: auto;
    top: 0;
    left: 0;
    position: fixed;
}

/* CARD AUXILIAR PARA O SHOWDATA.PHP */
.container-box{
	white-space: normal;
	margin: 5px 5px;
    flex: calc(25% - 10px);
    max-width: calc(25% - 10px);
    width: calc(25% - 10px);
}
.box-dados-usu{
	height: 100%;
    word-break: break-word;
	display: flex;
	padding: 10px 0px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    box-shadow: 0px 2px 5px rgba(0,0,0,.3);
}
.box-img-usu img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}
.box-nome-usu{
	font-size: 16px;
	font-weight: 500;
}
.box-email-usu{
	font-size: 12px;
}
.box-btn-usu{
	display: flex;
	justify-content: space-around;
	padding: 3px 0;
}
.box-cria-usu{
	font-size: 12px;
	font-style: italic;
}
/*END CARD AUXILIAR*/


#footer{
 	width: 100%;
 	padding: 10px;
    background-color: var(--black-basic);
    color: #eee;
}

.copy, .developer{
    font-size: 12px;
}
table{
	display: table;
	overflow-x: scroll;
}

/*DOCUMENT*/
.box-doc{
	    box-shadow: 0px 1px 3px rgba(0,0,0,.4); 
}
.header-box-doc{
	font-weight: 300;
	text-align: center;
	background-color: var(--black-basic);
	color: #fff;
	padding: 5px;
}
.body-box-doc{
	display: flex;
	flex-direction: column;
	padding: 10px;
}
.body-box-doc span{
	margin: 10px 0px;
}
.body-box-doc a{
	color: #fff;
}
.msg-admin{
	margin: 10px 0px;
	padding: 10px;
	box-shadow: 0px 1px 3px rgba(0,0,0,.4); 
}
.container-box-doc{
	margin: 10px 0px;
}

/*TURMA PARA PROFESSOR*/
#box-students-class{}
#box-students-class .img-student{
	box-shadow: 0px 2px 4px rgba(0,0,0,.5)
}

/*MEDIA QUERIES*/
@media (max-width: 1280px){

	.img-school{
		width: 150px;
    	height: 150px;
	}
	.container-box{
	    flex: calc(33.3333% - 10px);
	    max-width: calc(33.3333% - 10px);
	    width: calc(33.3333% - 10px);
	}
}

@media (min-width: 1080px){
	.box-dash{
		width: 50%;
	}
}

@media (max-width: 1080px){
	.card{
		width: calc(33.33% - 10px);
		box-sizing: border-box;
		overflow: hidden;
		margin: 5px;
	}
	.logo-text{
		font-size: 20px !important;
	}
	.img-school{
		width: 100px;
    	height: 100px;
	}
	.div-card{
	    width: 33.3%;
	    padding-right: 15px;
	    padding-left: 15px;
	}
	.icon-dash{
		font-size: 2em;
	}
	.count-dash{
		font-size: 1.5em;	
	}
	.title-box-dash h1{
		font-size:1em;
	}

}

@media (min-width: 991px){

}

@media (max-width: 991px){
	.card{
		width: calc(50% - 10px);
		box-sizing: border-box;
		overflow: hidden;
		margin: 5px;
	}
	.main-content{
		width: 100%;;
	    flex: 0 0 100%;
	    max-width: 100%;
	}
	.sidebar{
		width: 100%;;
	    flex: 0 0 100%;
	    max-width: 100%;
		width: 100%;;
	    flex: 0 0 100%;
	    max-width: 100%;
	}
	.menu-ul .menu-item .name-item-menu{
		margin-left: 0px;
	}
	.conteudo{
		height: 100vh;
	}
	.img-profile-aluno{
		width: 60px;
		height: 60px;
	}

	table{
		display: block !important; 
	    width: 100% !important;
	    overflow-x: auto !important;
	}
	.icon-dash{
		font-size: 1.5em;
	}
	.count-dash{
		font-size: 1em;	
	}
	.title-box-dash h1{
		font-size: .8em;
	}
	.menu-ul{
		font-size: 13px;
	}
	.container-box{
		flex: calc(50% - 10px);
	    max-width: calc(50% - 10px);
	    width: calc(50% - 10px);
	}
	table{
		display: table;
		overflow-x: scroll;
	}
}



@media (max-width: 767px){
	.card{
		width: calc(50% - 10px);
		box-sizing: border-box;
		overflow: hidden;
		margin: 5px;
	}
	.logo-text{
		font-size: 20px !important;
	}
	.div-img-school{
		    display: flex;
    justify-content: center;
	}
	.icon-dash i{
		font-size: 1em;
	}
	#menu{
		display: none;
	}
	.img-school{
		width: 200px;
    	height: 200px;
	}
	.menu-ul{
		font-size: 16px;
	}
	.div-card{
	    width: 50%;
	}
	.count-dash{
		font-size: 1.5em;	
	}
	.mySlides img{ 
    	height: 300px; 
	}
	.slideshow-container {
	    max-height: 300px;
	}
	.card-body{
		padding: 0 10px 10px 10px !important;
	}
	.card-body .card-title{
		font-size: 14px !important;
	}
	.card-body .card-text{
		font-size: 12px !important;
	}
	.coluna-img{
		padding-bottom: 5px;
	}
	.coluna-texto{
		padding-bottom: 5px;
	}
	.card{
		flex-direction: row !important;
	}
	.card img{
		height: 100% !important;
		max-height: 210px !important;
	}
	.details-atividade{
		font-size: 9px;
		padding: 10px 15px 0px 15px;
	}
	.box-dados-usu{
		padding: 10px;
	}
	.box-img-usu{
		padding: 0 15px;
	}
	.box-img-usu img{
		width: 80px;
		height: 80px;
	}
	.box-nome-usu{
		font-size: 16px;
		font-weight: bold;
	}
	.box-email-usu{
		font-size: 12px;
	}
	.box-btn-usu{
		padding: 3px 0;
	}
	.copy{
    font-size: 11px;
  }
  .developer{
    font-size: 9px;
  }
  .ntc-sidebar{
		width: 50%;
	}
}

@media (max-width: 600px){
	.coluna-texto{
		margin-top: 0px;
	}
	.img-gallery-adapt{
		max-height: 120px;
	}
	.top{
		height: 80px;
	}
	.box-dash{
		margin-bottom: 8px;
	}
	.div-card{
	    width: 100%;
	}
	.box-nome-usu{
		font-size: 14px;
	}
	.box-email-usu{
		font-size: 10px;
	}
}