:root{
	--theme-color-text: #46729B;
	--theme-color-1: #01bcf8;
	--theme-color-2: #009ff7;
	--theme-color-3: #0089f8;
	--theme-color-4: #0074f8;
}
html, body{
	color: #fff !important;
}
.top{
	background: linear-gradient(90deg, #3b4a62cc 0%, var(--theme-color-text) 35%, var(--theme-color-text) 70%, #3b4a62cc 100%);
}
.title-box-main{
	background: linear-gradient(90deg, #3b4a62cc 0%, var(--theme-color-text) 35%, var(--theme-color-text) 70%, #3b4a62cc 100%);
 }
 #box-dash-prof{
	background-color: var(--theme-color-1);
}
#box-dash-aluno{
	background-color: var(--theme-color-2);
}
#box-dash-adm{
	background-color: var(--theme-color-3);
}
#box-dash-noticia{
	background-color: var(--theme-color-4);
}
.text {
  background: linear-gradient(90deg, #3b4a62cc 0%, var(--theme-color-text) 35%, var(--theme-color-text) 70%, #3b4a62cc 100%);
}
#opacity-panel{
	height: 100%;
	background: #d8d8d8;
}
#container-panel{
	background: url("../img/sistema/back_panel.jpg");
	background-size: cover;
	background-attachment: fixed;
}
.box{
	background: #fff;
}
input::placeholder, input, textarea, a, select{
	color: #fff;
}
.msg{
	box-shadow: 0 0 2px rgba(160,160,160, 0.3);
}
.card{
	background: #eeeeddee;
}
.card .card-body{
	color: #111;
}
.details-activity{
	color: #333;
}
a.btn:hover{
	transition: .3s;
	color: #355c7d !important;
}