:root{
	--theme-color-link: #1abc9c;
	
	--theme-color-1: #1abc9c;
	--theme-color-2: #1abc9c;
	--theme-color-3: #16a085;
	--theme-color-4: #0b8389;

	--color-primary: #22abe1;
	--color-error: #db3b21;
	--color-warn: #e08b15;
	--color-success: #2EB797;
}
html, body{
	color: #222 !important;
}
.top{
	background: linear-gradient(90deg, #3b4a62cc 0%, var(--theme-color-2) 35%, var(--theme-color-2) 70%, #3b4a62cc 100%);
}
.title-box-main{
	background: linear-gradient(90deg, #3b4a62cc 0%, var(--theme-color-2) 35%, var(--theme-color-2) 70%, #3b4a62cc 100%);
 }
 #box-dash-prof{
	background-color: var(--theme-color-1);
}
#box-dash-aluno{
	background-color: var(--theme-color-2);
}
#box-dash-adm{
	background-color: var(--theme-color-3);
}
#box-dash-noticia{
	background-color: var(--theme-color-4);
}
.text {
  background: linear-gradient(90deg, #3b4a62cc 0%, var(--theme-color-4) 35%, var(--theme-color-4) 70%, #3b4a62cc 100%);
}
#container-panel{
	background: url('../img/sistema/background_green.png');
	background-size: cover;
	background-attachment: fixed;
}
.box{
	background: #ffffffdd;
}
input::placeholder, input, textarea, a{
	color: #222;
}
select{
	background: #222;
	color: #fff;
}
.card{
		background: #fff;
}
.details-atividade{
	color: #333;
}